<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed"  (click)="clickFab()">
        <ion-fab-button>
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <h1>Some People</h1>

    <ion-button class="toggle-text" color="primary" expand="full" (click)="buttonClick()">Hide People</ion-button>

    <ion-list class="people">
        <ion-item *ngFor="let person of info.Names">
            <ion-card>
                <ion-img
                        src="https://beta.ionicframework.com/docs/content/component-preview-app/docs-www/assets/madison.jpg"></ion-img>
                <ion-card-content>
                    <ion-card-title>{{person.name}}</ion-card-title>
                    <p><strong>AGE: </strong>{{person.age}}</p>
                    <p><strong>EMAIL: </strong>{{person.email}}</p>
                    <p><strong>BIO: </strong>{{person.bio}}</p>
                </ion-card-content>
                <ion-button color="danger" expand="full" (click)="deleteMeHandler(event)">DELETE</ion-button>
            </ion-card>
        </ion-item>

    </ion-list>
</ion-content>
